<page-header></page-header>

<div class="ui attached message">
  <div class="header">
    Add new Review
  </div>
  <p>Fill out the form below to add new review</p>
</div>
<form class="ui form attached fluid segment">
  <div class="two fields">
    <div class="field">
      <label>Link item</label>
      <input type="text" placeholder="Please paste full URL">
    </div>
  </div>
  <div class="three fields">

    <div class="field">
      <label>Catagory</label>

      <select [(ngModel)]="chosenCatagory"  name="chosenCatagory" class="ui dropdown" #catagoryDropdown>
        <option value="">Catagory</option>
        <option [ngValue]="">Women</option>
        <option [ngValue]="">Man</option>
        <option [ngValue]="">Kids</option>
        <option [ngValue]="">Homeware</option>
      </select>

      <!-- <div class="ui selection dropdown" #catagoryDropdown>
        <input [(ngModel)]="chosenCatagory"  type = "text" name="catagory">
        <i class="dropdown icon"></i>
        <div class="default text">Catagory</div>
        <div class="menu">
          <div  class="item" data-value="3">Women</div>
          <div class="item" data-value="2">Man</div>
          <div class="item" data-value="1">Kids</div>
          <div class="item" data-value="0">Homeware</div>
        </div>
      </div> -->
      
    </div>


    <div class="field">
      <label>Sub Catagory {{chosenCatagory}}</label>
      <!-- <div class="ui selection dropdown" #subCatagoryDropdown>
        <input type="hidden" name="catagory">
        <i class="dropdown icon"></i>
        <div class="default text">Sub Catagory</div>
        <div class="menu">
          <div class="item" *ngFor="let catagory of womenCatArr" data-value="catagory.value">{{catagory.value}}</div>
        </div>
      </div> -->
      <select   class="ui dropdown" #subCatagoryDropdown>
          <option value="">Sub Catagory</option>
          <div>
          <option  [ngValue]="" *ngFor="let catagory of womenCatArr">{{catagory.value}}</option>
          </div>
        </select>

    </div>

    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>User Name</label>
      <input placeholder="User Name" type="text">
    </div>
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text">
    </div>
  </div>
  <div class="three fields">

    <!-- <div class="field">
      <label>Gender</label>
      <div class="ui selection dropdown" #genderDropdown1>
        <input type="hidden" name="gender">
        <i class="dropdown icon"></i>
        <div class="default text">Gender</div>
        <div class="menu">
          <div class="item" data-value="2">Male</div>
          <div class="item" data-value="1">Female</div>
          <div class="item" data-value="0">Other</div>

        </div>
      </div>
    </div> -->

    <div class="field">
      <label>Birth Year</label>
      <div class="ui selection dropdown" #birthYearDropdown1>
        <input type="hidden" name="birthYear">
        <i class="dropdown icon"></i>
        <div class="default text">Birth Year</div>
        <div class="menu">
          <div class="item" *ngFor="let year of birthYearArr" data-value="year.value">{{year.value}}</div>


        </div>
      </div>
    </div>

    <div class="field">
      <label>Country</label>
      <div class="ui selection dropdown" #countryDropdown1>
        <input type="hidden" name="country">
        <i class="dropdown icon"></i>
        <div class="default text">Country</div>
        <div class="menu">
          <div class="item" *ngFor="let country of cntFlagArr" data-value="country.value">{{country.desc}}</div>
          <!-- <countries-dropdown></countries-dropdown> -->

        </div>
      </div>
    </div>

  </div>
  <div class="two fields">
    <div class="field">
      <label>Password</label>
      <input type="password">
    </div>
  </div>



  <div class="inline field">

  </div>
  <div class="ui blue submit button">Submit</div>
</form>
<!-- <div class="ui bottom attached warning message">
 
</div> -->