<page-header></page-header>

<div class="ui attached message">
  <div class="header">
    Add new Review
  </div>
  <p>Fill out the form below to add new review</p>
</div>

<form [formGroup]="productForm" (ngSubmit)="submitForm()" class="ui form attached fluid segment">
  <div class="two fields">
    <div class="field">
      <label>Link item</label>
      <input type="text" placeholder="Please paste full URL">
    </div>
  </div>
  <div class="three fields">

    <div class="field">
      <label>Catagory</label>
      <select [(ngModel)]="chosenCatagory" formControlName="productType" (change)="typeChanged()" class="ui fluid dropdown form-control"
        #catagoryDropdown>
              <option value="">Catagory</option>
            <option *ngFor="let t of productTypes">{{t}}</option>
          </select>

    </div>
    <div class="field">
      <div class="form-group">
        <div class="field">
          <label>Sub catagory</label>
          <select formControlName="product" class="ui fluid dropdown form-control" #subCatagoryDropdown>
              <option value=""> Sub catagory</option>
            <option *ngFor="let p of productsAfterChangeEvent">{{p.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>User Name</label>
      <input placeholder="User Name" type="text">
    </div>
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text">
    </div>
  </div>
  <div class="three fields">

    <div class="field">
      <label>Birth Year</label>
      <div class="ui selection dropdown" #birthYearDropdown1>
        <input type="hidden" name="birthYear">
        <i class="dropdown icon"></i>
        <div class="default text">Birth Year</div>
        <div class="menu">
          <div class="item" *ngFor="let year of birthYearArr" data-value="year.value">{{year.value}}</div>


        </div>
      </div>
    </div>

    <div class="field">
      <label>Country</label>
      <div class="ui selection dropdown" #countryDropdown1>
        <input type="hidden" name="country">
        <i class="dropdown icon"></i>
        <div class="default text">Country</div>
        <div class="menu">
          <div class="item" *ngFor="let country of cntFlagArr" data-value="country.value">{{country.desc}}</div>
          <!-- <countries-dropdown></countries-dropdown> -->

        </div>
      </div>
    </div>

  </div>
  <div class="two fields">
    <div class="field">
      <label>Password</label>
      <input type="password">
    </div>
  </div>



  <div class="inline field">

  </div>
  <div class="ui blue submit button">Submit</div>
</form>
<!-- <div class="ui bottom attached warning message">
 
</div> -->